################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/teste.bet/CopilotIndices/17.13.196.30798
/.vs/teste.bet/FileContentIndex
/.vs/slnx.sqlite
